:root {
  font-family: 'Fira Sans Condensed', sans-serif;
  line-height: 1.5;
}

h1{
  font-family: 'Caladea', serif;
  font-size: 50px;
  line-height: 1.5;
  text-align: center;
  color:  #E88DA7;
}

p {
  color: #EBE2E9;
  font-size: 1.1em;
}

@media only screen and
(min-width: 600px) {

  .articlemenu {
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }
  .articles {
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }
  p{
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and
(min-width: 900px) {

  .articlemenu {
    max-width: 50vw;
  }
  .articles {
    max-width: 50vw;
  }
  p{
    margin-left: auto;
    margin-right: auto;
  }
}

.menu{
  padding: 1em;
  width: 100%;
}

.footer p {
text-align: center;
font-size: 10px;
}

html * {
    box-sizing: border-box;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    font-size: 18px;
    margin: 5px;
    padding: 0px;
    flex-wrap: wrap;
    background-color:#4DB6DD;
  }

.menu2 ul li{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
  margin: 15px;
  padding: 0px;
  margin-left:auto;
  margin-right:auto;
  flex-wrap: wrap;
}

body {
    margin: 0;
    background-color: #895061;
}

.newsfeed {
  display: block;
  margin-left:auto;
  margin-right: auto;
  width: 50%;
}
